<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product Id="*" Name="Dyysh Image Sharing" Language="1033" Version="!(bind.FileVersion.MainExe)" Manufacturer="Ivan Belikov" UpgradeCode="be04d5a0-621a-4388-95e0-d41c8dca2630">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
      <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Dyysh" />
      <!-- Custom action trigger -->
      <Publish Dialog="ExitDialog" 
            Control="Finish" 
            Event="DoAction" 
            Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
      </Publish>
    </UI>
    
    <!-- Custom action to launch application -->
    <Property Id="WixShellExecTarget" Value="[#Dyysh.exe]" />
    <CustomAction Id="LaunchApplication" Directory="INSTALLFOLDER" ExeCommand="[SystemFolder]cmd.exe /C start Dyysh.exe" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."  />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="Dyysh Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Dyysh Image Sharing" />
			</Directory>
    <Directory Id="DesktopFolder" Name="Desktop"/>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent">
        <File Id="MainExe" Source="$(var.Dyysh.TargetPath)"/>
			</Component>
      <ComponentRef Id="ApplicationDesktopShortcut"/>
		</ComponentGroup>
	</Fragment>

  <!-- Define Desktop Shortcut -->
  <Fragment>
    <DirectoryRef Id="DesktopFolder">

      <!-- Generate Your Own GUID -->
      <Component Id="ApplicationDesktopShortcut" Guid="*">
        <Shortcut Id="Dyysh_DesktopShortcut"
        Name="Dyysh"
        Description="Dyysh Image Sharing"
        Target="[INSTALLFOLDER]Dyysh.exe"
        WorkingDirectory="INSTALLFOLDER"/>

        <RegistryValue Root="HKCU" Key="Software\Dyysh\DesktopShortcut"
        Name="installed"
        Type="integer"
        Value="1"
        KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <!-- Sets to 1 if .NET Framework 4.5 or later is installed. -->
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_45_OR_LATER_INSTALLED"/>
    
    <Condition Message="This application requires .NET Framework 4.5 or later. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_45_OR_LATER_INSTALLED]]>
    </Condition>
  </Fragment>
</Wix>