<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dyysh.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <userSettings>
        <Dyysh.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="UploadKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UseEditor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveToDisk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageFormat" serializeAs="String">
                <value>PNG</value>
            </setting>
            <setting name="AuthorizeSuccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastAuthorizeSuccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionURL" serializeAs="String">
                <value>http://clip.apael.com</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hotkey_CaptureArea" serializeAs="String">
                <value />
            </setting>
            <setting name="Hotkey_PublishClip" serializeAs="String">
                <value />
            </setting>
            <setting name="Hotkey_PublishFile" serializeAs="String">
                <value />
            </setting>
        </Dyysh.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
